---
import { getCollection } from 'astro:content';
import { format } from 'date-fns';
import DefaultLayout from '@/layouts/DefaultLayout.astro';
const title = "Tuples";
const description = "Tuples — Notebook export";
// Static metadata used to render the hero + featured sidebar (edit as needed)
const authorName = 'Atul Jha';
const authorImage = '/assets/introduction-to-machine-learning/authorImage.png';
const pubDate = '2025-01-01';
const tags = ['notebook'];
const topics = ['sample-topic', 'example-topic'];
const image = '';
const featured = [{ id: 'linear-regression', data: { title: 'Linear Regression', pubDate: '2025-01-01', image: '' } }];

const _allPosts = await getCollection('blog');
const featuredPosts = _allPosts.filter((p) => p.data?.featured).sort((a,b)=> new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()).slice(0,5);
const content = "\r\n\r\n<div class=\"jp-Cell jp-MarkdownCell jp-Notebook-cell\" id=\"cell-id=7b684620\">\r\n<div class=\"jp-Cell-inputWrapper\" tabindex=\"0\">\r\n<div class=\"jp-Collapser jp-InputCollapser jp-Cell-inputCollapser\">\r\n</div>\r\n<div class=\"jp-InputArea jp-Cell-inputArea\"><div class=\"jp-InputPrompt jp-InputArea-prompt\">\r\n</div><div class=\"jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput\" data-mime-type=\"text/markdown\">\r\n<h1 id=\"Tuple\">Tuple<a class=\"anchor-link\" href=\"#Tuple\">¶</a></h1><p>Tuples are an immutable container type.</p>\r\n<p>They contain a collection of objects. The tuple is a sequence type - this means order matters (and is preserved) and elements can be accessed by index (zero based), slicing, or iteration.</p>\r\n<p>Other common sequence types in Python include lists and strings. Strings, like tuples are immutable, whereas lists are mutable.</p>\r\n<p>Tuples are sometimes presented as immutable lists, but in fact, they could be compared more closely to strings with one major difference: strings are homogeneous sequences, while tuples can be heterogeneous.</p>\r\n<p>A tuple can be defined by using a comma (,).</p>\r\n</div>\r\n</div>\r\n</div>\r\n</div><div class=\"jp-Cell jp-CodeCell jp-Notebook-cell\" id=\"cell-id=bdc2a2c5\">\r\n<div class=\"jp-Cell-inputWrapper\" tabindex=\"0\">\r\n<div class=\"jp-Collapser jp-InputCollapser jp-Cell-inputCollapser\">\r\n</div>\r\n<div class=\"jp-InputArea jp-Cell-inputArea\">\r\n<div class=\"jp-InputPrompt jp-InputArea-prompt\">In [1]:</div>\r\n<div class=\"jp-CodeMirrorEditor jp-Editor jp-InputArea-editor\" data-type=\"inline\">\r\n<div class=\"cm-editor cm-s-jupyter\">\r\n<pre class=\"shiki github-dark\" style=\"background-color: #24292e\"><code><span class=\"line\"><span style=\"color: #6A737D\"># A tuple is defined using a comma not by using ().</span></span>\n<span class=\"line\"><span style=\"color: #E1E4E8\">a </span><span style=\"color: #F97583\">=</span><span style=\"color: #E1E4E8\"> (</span><span style=\"color: #9ECBFF\">&#39;a&#39;</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">10</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">True</span><span style=\"color: #E1E4E8\">)</span></span>\n<span class=\"line\"><span style=\"color: #E1E4E8\">b </span><span style=\"color: #F97583\">=</span><span style=\"color: #E1E4E8\"> </span><span style=\"color: #9ECBFF\">&#39;b&#39;</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">20</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">False</span></span>\n<span class=\"line\"></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(</span><span style=\"color: #79B8FF\">type</span><span style=\"color: #E1E4E8\">(a), </span><span style=\"color: #79B8FF\">type</span><span style=\"color: #E1E4E8\">(b))</span></span>\n<span class=\"line\"></span></code></pre>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n<div class=\"jp-Cell-outputWrapper\">\r\n<div class=\"jp-Collapser jp-OutputCollapser jp-Cell-outputCollapser\">\r\n</div>\r\n<div class=\"jp-OutputArea jp-Cell-outputArea\">\r\n<div class=\"jp-OutputArea-child\">\r\n<div class=\"jp-OutputPrompt jp-OutputArea-prompt\"></div>\r\n<div class=\"jp-RenderedText jp-OutputArea-output\" data-mime-type=\"text/plain\" tabindex=\"0\">\r\n<pre>&lt;class 'tuple'&gt; &lt;class 'tuple'&gt;\r\n</pre>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n<div class=\"jp-Cell jp-MarkdownCell jp-Notebook-cell\" id=\"cell-id=c0523b94\">\r\n<div class=\"jp-Cell-inputWrapper\" tabindex=\"0\">\r\n<div class=\"jp-Collapser jp-InputCollapser jp-Cell-inputCollapser\">\r\n</div>\r\n<div class=\"jp-InputArea jp-Cell-inputArea\"><div class=\"jp-InputPrompt jp-InputArea-prompt\">\r\n</div><div class=\"jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput\" data-mime-type=\"text/markdown\">\r\n<p>Since tuples are sequence types, we can access items by index, perform slicing operation, iterate over them, unpack them.</p>\r\n</div>\r\n</div>\r\n</div>\r\n</div><div class=\"jp-Cell jp-CodeCell jp-Notebook-cell\" id=\"cell-id=d897695d\">\r\n<div class=\"jp-Cell-inputWrapper\" tabindex=\"0\">\r\n<div class=\"jp-Collapser jp-InputCollapser jp-Cell-inputCollapser\">\r\n</div>\r\n<div class=\"jp-InputArea jp-Cell-inputArea\">\r\n<div class=\"jp-InputPrompt jp-InputArea-prompt\">In [6]:</div>\r\n<div class=\"jp-CodeMirrorEditor jp-Editor jp-InputArea-editor\" data-type=\"inline\">\r\n<div class=\"cm-editor cm-s-jupyter\">\r\n<pre class=\"shiki github-dark\" style=\"background-color: #24292e\"><code><span class=\"line\"><span style=\"color: #E1E4E8\">a </span><span style=\"color: #F97583\">=</span><span style=\"color: #E1E4E8\"> </span><span style=\"color: #9ECBFF\">&#39;a&#39;</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">10</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">True</span></span>\n<span class=\"line\"></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(</span><span style=\"color: #9ECBFF\">&quot;a[2] is : &quot;</span><span style=\"color: #E1E4E8\">, a[</span><span style=\"color: #79B8FF\">2</span><span style=\"color: #E1E4E8\">])</span></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(</span><span style=\"color: #9ECBFF\">&quot;a[1:] is :&quot;</span><span style=\"color: #E1E4E8\">, a[</span><span style=\"color: #79B8FF\">1</span><span style=\"color: #E1E4E8\">:])</span></span>\n<span class=\"line\"></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(</span><span style=\"color: #9ECBFF\">&quot;</span><span style=\"color: #79B8FF\">\\n</span><span style=\"color: #9ECBFF\">looping through the tuple is as follows : &quot;</span><span style=\"color: #E1E4E8\">)</span></span>\n<span class=\"line\"><span style=\"color: #F97583\">for</span><span style=\"color: #E1E4E8\"> i, item </span><span style=\"color: #F97583\">in</span><span style=\"color: #E1E4E8\"> </span><span style=\"color: #79B8FF\">enumerate</span><span style=\"color: #E1E4E8\">(a):</span></span>\n<span class=\"line\"><span style=\"color: #E1E4E8\">    </span><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(</span><span style=\"color: #9ECBFF\">&quot;item [</span><span style=\"color: #79B8FF\">{0}</span><span style=\"color: #9ECBFF\">] is : &quot;</span><span style=\"color: #E1E4E8\">.format(i), item)</span></span>\n<span class=\"line\"></span>\n<span class=\"line\"></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(</span><span style=\"color: #9ECBFF\">&quot;</span><span style=\"color: #79B8FF\">\\n</span><span style=\"color: #9ECBFF\">unpacking the tuple results in : &quot;</span><span style=\"color: #E1E4E8\">)</span></span>\n<span class=\"line\"></span>\n<span class=\"line\"><span style=\"color: #E1E4E8\">b, c, d </span><span style=\"color: #F97583\">=</span><span style=\"color: #E1E4E8\"> a</span></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(b)</span></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(c)</span></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(d)</span></span>\n<span class=\"line\"></span></code></pre>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n<div class=\"jp-Cell-outputWrapper\">\r\n<div class=\"jp-Collapser jp-OutputCollapser jp-Cell-outputCollapser\">\r\n</div>\r\n<div class=\"jp-OutputArea jp-Cell-outputArea\">\r\n<div class=\"jp-OutputArea-child\">\r\n<div class=\"jp-OutputPrompt jp-OutputArea-prompt\"></div>\r\n<div class=\"jp-RenderedText jp-OutputArea-output\" data-mime-type=\"text/plain\" tabindex=\"0\">\r\n<pre>a[2] is :  True\r\na[1:] is : (10, True)\r\n\r\nlooping through the tuple is as follows : \r\nitem [0] is :  a\r\nitem [1] is :  10\r\nitem [2] is :  True\r\n\r\nunpacking the tuple results in : \r\na\r\n10\r\nTrue\r\n</pre>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n<div class=\"jp-Cell jp-MarkdownCell jp-Notebook-cell\" id=\"cell-id=68dc9df7\">\r\n<div class=\"jp-Cell-inputWrapper\" tabindex=\"0\">\r\n<div class=\"jp-Collapser jp-InputCollapser jp-Cell-inputCollapser\">\r\n</div>\r\n<div class=\"jp-InputArea jp-Cell-inputArea\"><div class=\"jp-InputPrompt jp-InputArea-prompt\">\r\n</div><div class=\"jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput\" data-mime-type=\"text/markdown\">\r\n<p>Tuples are immutable, in the sense that we cannot change the reference of an object in the container and we cannot add or remove objects from the container. This is the same as strings. However we have to be careful when we think about immutability of tuples. The tuple, as a container is immutable, but the elements contained in the tuple may very well be mutable.</p>\r\n</div>\r\n</div>\r\n</div>\r\n</div><div class=\"jp-Cell jp-CodeCell jp-Notebook-cell\" id=\"cell-id=f80f870d\">\r\n<div class=\"jp-Cell-inputWrapper\" tabindex=\"0\">\r\n<div class=\"jp-Collapser jp-InputCollapser jp-Cell-inputCollapser\">\r\n</div>\r\n<div class=\"jp-InputArea jp-Cell-inputArea\">\r\n<div class=\"jp-InputPrompt jp-InputArea-prompt\">In [8]:</div>\r\n<div class=\"jp-CodeMirrorEditor jp-Editor jp-InputArea-editor\" data-type=\"inline\">\r\n<div class=\"cm-editor cm-s-jupyter\">\r\n<pre class=\"shiki github-dark\" style=\"background-color: #24292e\"><code><span class=\"line\"><span style=\"color: #E1E4E8\">a </span><span style=\"color: #F97583\">=</span><span style=\"color: #E1E4E8\"> </span><span style=\"color: #79B8FF\">3</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">4</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">6</span></span>\n<span class=\"line\"></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(</span><span style=\"color: #9ECBFF\">&quot;id of a is : </span><span style=\"color: #79B8FF\">\\n</span><span style=\"color: #9ECBFF\">&quot;</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">id</span><span style=\"color: #E1E4E8\">(a))</span></span>\n<span class=\"line\"></span>\n<span class=\"line\"></span>\n<span class=\"line\"><span style=\"color: #E1E4E8\">a[</span><span style=\"color: #79B8FF\">4</span><span style=\"color: #E1E4E8\">]</span><span style=\"color: #F97583\">=</span><span style=\"color: #79B8FF\">20</span></span>\n<span class=\"line\"></span></code></pre>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n<div class=\"jp-Cell-outputWrapper\">\r\n<div class=\"jp-Collapser jp-OutputCollapser jp-Cell-outputCollapser\">\r\n</div>\r\n<div class=\"jp-OutputArea jp-Cell-outputArea\">\r\n<div class=\"jp-OutputArea-child\">\r\n<div class=\"jp-OutputPrompt jp-OutputArea-prompt\"></div>\r\n<div class=\"jp-RenderedText jp-OutputArea-output\" data-mime-type=\"text/plain\" tabindex=\"0\">\r\n<pre>id of a is : \r\n 2617429228528\r\n</pre>\r\n</div>\r\n</div>\r\n<div class=\"jp-OutputArea-child\">\r\n<div class=\"jp-OutputPrompt jp-OutputArea-prompt\"></div>\r\n<div class=\"jp-RenderedText jp-OutputArea-output\" data-mime-type=\"application/vnd.jupyter.stderr\" tabindex=\"0\">\r\n<pre>\r\n<span class=\"ansi-red-fg\">---------------------------------------------------------------------------</span>\r\n<span class=\"ansi-red-fg\">TypeError</span>                                 Traceback (most recent call last)\r\n<span class=\"ansi-cyan-fg\">Cell</span><span class=\"ansi-cyan-fg\"> </span><span class=\"ansi-green-fg\">In[8]</span><span class=\"ansi-green-fg\">, line 6</span>\r\n<span class=\"ansi-green-fg\">      1</span> a = <span class=\"ansi-green-fg\">3</span>, <span class=\"ansi-green-fg\">4</span>, <span class=\"ansi-green-fg\">6</span>\r\n<span class=\"ansi-green-fg\">      3</span> <span style=\"color: rgb(0,135,0)\">print</span>(<span class=\"ansi-yellow-fg\">\"</span><span class=\"ansi-yellow-fg\">id of a is : </span><span class=\"ansi-bold\" style=\"color: rgb(175,95,0)\">\\n</span><span class=\"ansi-yellow-fg\">\"</span>, <span style=\"color: rgb(0,135,0)\">id</span>(a))\r\n<span class=\"ansi-green-fg\">----&gt; </span><span class=\"ansi-green-fg\">6</span> <span class=\"ansi-yellow-bg\">a</span><span class=\"ansi-yellow-bg\">[</span><span class=\"ansi-green-fg ansi-yellow-bg\">4</span><span class=\"ansi-yellow-bg\">]</span>=<span class=\"ansi-green-fg\">20</span>\r\n\r\n<span class=\"ansi-red-fg\">TypeError</span>: 'tuple' object does not support item assignment</pre>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n</div><div class=\"jp-Cell jp-CodeCell jp-Notebook-cell\" id=\"cell-id=2570f174\">\r\n<div class=\"jp-Cell-inputWrapper\" tabindex=\"0\">\r\n<div class=\"jp-Collapser jp-InputCollapser jp-Cell-inputCollapser\">\r\n</div>\r\n<div class=\"jp-InputArea jp-Cell-inputArea\">\r\n<div class=\"jp-InputPrompt jp-InputArea-prompt\">In [11]:</div>\r\n<div class=\"jp-CodeMirrorEditor jp-Editor jp-InputArea-editor\" data-type=\"inline\">\r\n<div class=\"cm-editor cm-s-jupyter\">\r\n<pre class=\"shiki github-dark\" style=\"background-color: #24292e\"><code><span class=\"line\"><span style=\"color: #E1E4E8\">a </span><span style=\"color: #F97583\">=</span><span style=\"color: #E1E4E8\"> a </span><span style=\"color: #F97583\">+</span><span style=\"color: #E1E4E8\"> (</span><span style=\"color: #79B8FF\">3</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">4</span><span style=\"color: #E1E4E8\">)</span></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(</span><span style=\"color: #9ECBFF\">&quot;a is : &quot;</span><span style=\"color: #E1E4E8\">, a)</span></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(</span><span style=\"color: #9ECBFF\">&quot;id of a now is : </span><span style=\"color: #79B8FF\">\\n</span><span style=\"color: #9ECBFF\">&quot;</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">id</span><span style=\"color: #E1E4E8\">(a))</span></span>\n<span class=\"line\"></span></code></pre>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n<div class=\"jp-Cell-outputWrapper\">\r\n<div class=\"jp-Collapser jp-OutputCollapser jp-Cell-outputCollapser\">\r\n</div>\r\n<div class=\"jp-OutputArea jp-Cell-outputArea\">\r\n<div class=\"jp-OutputArea-child\">\r\n<div class=\"jp-OutputPrompt jp-OutputArea-prompt\"></div>\r\n<div class=\"jp-RenderedText jp-OutputArea-output\" data-mime-type=\"text/plain\" tabindex=\"0\">\r\n<pre>a is :  (3, 4, 6, 3, 4, 3, 4)\r\nid of a now is : \r\n 2617405591104\r\n</pre>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n</div><div class=\"jp-Cell jp-CodeCell jp-Notebook-cell\" id=\"cell-id=b8513395\">\r\n<div class=\"jp-Cell-inputWrapper\" tabindex=\"0\">\r\n<div class=\"jp-Collapser jp-InputCollapser jp-Cell-inputCollapser\">\r\n</div>\r\n<div class=\"jp-InputArea jp-Cell-inputArea\">\r\n<div class=\"jp-InputPrompt jp-InputArea-prompt\">In [24]:</div>\r\n<div class=\"jp-CodeMirrorEditor jp-Editor jp-InputArea-editor\" data-type=\"inline\">\r\n<div class=\"cm-editor cm-s-jupyter\">\r\n<pre class=\"shiki github-dark\" style=\"background-color: #24292e\"><code><span class=\"line\"><span style=\"color: #6A737D\">#  The tuple, as a container is immutable,</span></span>\n<span class=\"line\"><span style=\"color: #6A737D\">#  but the elements contained in the tuple may very well be mutable.</span></span>\n<span class=\"line\"><span style=\"color: #E1E4E8\">lis </span><span style=\"color: #F97583\">=</span><span style=\"color: #E1E4E8\"> [</span><span style=\"color: #79B8FF\">2</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">5</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">6</span><span style=\"color: #E1E4E8\">]</span></span>\n<span class=\"line\"><span style=\"color: #E1E4E8\">a </span><span style=\"color: #F97583\">=</span><span style=\"color: #E1E4E8\"> (</span><span style=\"color: #79B8FF\">3</span><span style=\"color: #E1E4E8\">, lis, </span><span style=\"color: #79B8FF\">8</span><span style=\"color: #E1E4E8\">)</span></span>\n<span class=\"line\"></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(</span><span style=\"color: #9ECBFF\">&quot;a now is : &quot;</span><span style=\"color: #E1E4E8\">, a)</span></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(</span><span style=\"color: #9ECBFF\">&quot;id of a is : &quot;</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">id</span><span style=\"color: #E1E4E8\">(a))</span></span>\n<span class=\"line\"></span>\n<span class=\"line\"><span style=\"color: #E1E4E8\">lis.append(</span><span style=\"color: #79B8FF\">5</span><span style=\"color: #E1E4E8\">)</span></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(</span><span style=\"color: #9ECBFF\">&quot;a now is : &quot;</span><span style=\"color: #E1E4E8\">, a)</span></span>\n<span class=\"line\"><span style=\"color: #79B8FF\">print</span><span style=\"color: #E1E4E8\">(</span><span style=\"color: #9ECBFF\">&quot;id of a is : &quot;</span><span style=\"color: #E1E4E8\">, </span><span style=\"color: #79B8FF\">id</span><span style=\"color: #E1E4E8\">(a))</span></span>\n<span class=\"line\"></span></code></pre>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n<div class=\"jp-Cell-outputWrapper\">\r\n<div class=\"jp-Collapser jp-OutputCollapser jp-Cell-outputCollapser\">\r\n</div>\r\n<div class=\"jp-OutputArea jp-Cell-outputArea\">\r\n<div class=\"jp-OutputArea-child\">\r\n<div class=\"jp-OutputPrompt jp-OutputArea-prompt\"></div>\r\n<div class=\"jp-RenderedText jp-OutputArea-output\" data-mime-type=\"text/plain\" tabindex=\"0\">\r\n<pre>a now is :  (3, [2, 5, 6], 8)\r\nid of a is :  2617429818752\r\na now is :  (3, [2, 5, 6, 5], 8)\r\nid of a is :  2617429818752\r\n</pre>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n<div class=\"jp-Cell jp-MarkdownCell jp-Notebook-cell\" id=\"cell-id=530a21de\">\r\n<div class=\"jp-Cell-inputWrapper\" tabindex=\"0\">\r\n<div class=\"jp-Collapser jp-InputCollapser jp-Cell-inputCollapser\">\r\n</div>\r\n<div class=\"jp-InputArea jp-Cell-inputArea\"><div class=\"jp-InputPrompt jp-InputArea-prompt\">\r\n</div><div class=\"jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput\" data-mime-type=\"text/markdown\">\r\n<p>As we can see tuple doesn't support item assignment and in case we mutate the tuple, a new memroy address is assigned.</p>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n<div class=\"jp-Cell jp-MarkdownCell jp-Notebook-cell\" id=\"cell-id=0c90ea7e\">\r\n<div class=\"jp-Cell-inputWrapper\" tabindex=\"0\">\r\n<div class=\"jp-Collapser jp-InputCollapser jp-Cell-inputCollapser\">\r\n</div>\r\n<div class=\"jp-InputArea jp-Cell-inputArea\"><div class=\"jp-InputPrompt jp-InputArea-prompt\">\r\n</div><div class=\"jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput\" data-mime-type=\"text/markdown\">\r\n<p>We can interpret tuples as lightweight data structures where, by convention, the position of the element in the tuple has meaning.</p>\r\n<p>For example, we may elect to represent a point as a tuple, i.e x and y coordinate. so we could you tuple to denote the values.</p>\r\n</div>\r\n</div>\r\n</div>\r\n</div><div class=\"jp-Cell jp-CodeCell jp-Notebook-cell jp-mod-noOutputs\" id=\"cell-id=1ca619cb\">\r\n<div class=\"jp-Cell-inputWrapper\" tabindex=\"0\">\r\n<div class=\"jp-Collapser jp-InputCollapser jp-Cell-inputCollapser\">\r\n</div>\r\n<div class=\"jp-InputArea jp-Cell-inputArea\">\r\n<div class=\"jp-InputPrompt jp-InputArea-prompt\">In [ ]:</div>\r\n<div class=\"jp-CodeMirrorEditor jp-Editor jp-InputArea-editor\" data-type=\"inline\">\r\n<div class=\"cm-editor cm-s-jupyter\">\r\n<pre class=\"shiki github-dark\" style=\"background-color: #24292e\"><code><span class=\"line\"><span style=\"color: #E1E4E8\"> </span></span>\n<span class=\"line\"></span></code></pre>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n\r\n";
---
<DefaultLayout title={title} description={description}>
  <div class="py-28 lg:pt-44 lg:pb-32">
    <!-- Hero: title, description, author, tags, cover image -->
    <div class="container">
      <div class="mx-auto flex max-w-5xl flex-col items-center gap-4 text-center">
        <h1 class="max-w-3xl text-4xl font-bold md:text-5xl">{title}</h1>
        <h3 class="text-muted-foreground max-w-4xl">{description}</h3>
        <div class="flex items-center gap-3 text-sm md:text-base">
          {authorImage ? (
            <img src={authorImage} alt={authorName} class="h-8 w-8 rounded-full border" />
          ) : (
            <div class="h-8 w-8 rounded-full bg-muted-foreground/10 flex items-center justify-center text-xs font-semibold text-muted-foreground">{authorName ? authorName.charAt(0) : ''}</div>
          )}
          <span>
            <a href={'/authors/' + (authorName ? authorName.replace(/\s+/g, '-').toLowerCase() : '')} class="font-semibold">{authorName}</a>
            <span class="ml-1">on {format(new Date(pubDate), 'MMM d, yyyy')}</span>
          </span>
        </div>
        <div class="flex flex-wrap justify-center gap-2 mt-4 mb-4">
          {tags && tags.map((tag) => (<a href={'/tags/' + tag} class="px-3 py-1 text-xs font-medium text-gray-700 bg-gray-200 rounded-full hover:bg-gray-300 transition">{tag}</a>))}
          {topics && topics.map((topic) => (<a href={'/topics/' + topic} class="px-3 py-1 text-xs font-medium text-white bg-blue-600 rounded-full hover:bg-blue-700 transition">{topic}</a>))}
        </div>
        {image ? <img src={image} alt={title} class="mt-0 mb-8 aspect-video w-full rounded-lg border object-cover" /> : null}
      </div>
    </div>

    <div class="w-full">
      <div id="notebook-progress" class="fixed top-0 left-0 right-0 h-1 bg-muted z-50">
        <div id="notebook-progress-bar" class="h-full bg-gradient-to-r from-sidebar-primary via-sidebar-primary to-blue-500 transition-all duration-300" style="width:0%"></div>
      </div>

      <div class="grid w-full max-w-12xl mx-auto px-8 grid-cols-1 gap-8 lg:grid-cols-[14rem_minmax(0,100ch)_14rem] items-start justify-center">
        <!-- Left side: section navigation (populated by client script) -->
        <aside class="hidden lg:block sticky top-24 h-fit">
          <div class="bg-gradient-to-b from-muted/5 via-transparent to-background/60 border border-border rounded-xl p-4 shadow-lg max-h-[calc(100vh-6rem)] overflow-auto backdrop-blur-sm">
            <div class="font-semibold mb-3 text-sm uppercase tracking-wide text-muted-foreground">On this page</div>
            <ul id="notebook-toc" class="space-y-1 list-none pl-0">
              <li class="text-sm text-muted-foreground">(No sections)</li>
            </ul>
          </div>
        </aside>

        <main class="w-full">
          <div class="prose dark:prose-invert mx-auto max-w-none w-full notebook-embed" set:html={content} />
        </main>

        <!-- Right side: featured (placeholder) -->
        <aside class="hidden lg:block sticky top-24 h-fit">
            <div class="bg-gradient-to-b from-background/60 via-transparent to-muted/5 border border-border rounded-xl p-4 shadow-lg overflow-auto backdrop-blur-sm" style="max-height: min(calc(100vh - 6rem), 36rem);">
              <div class="font-semibold mb-3 text-sm uppercase tracking-wide text-muted-foreground">Featured</div>
              <ul id="notebook-featured" class="space-y-3 list-none">
                {featuredPosts && featuredPosts.length > 0 ? (
                  featuredPosts.map((f) => (
                    <li>
                      <a href={'/blog/' + f.id} class="flex items-start gap-3 rounded-lg p-3 hover:bg-muted/5 transition-shadow duration-150"> 
                        {f.data.image ? (
                          <img src={f.data.image} alt={f.data.title} class="h-12 w-14 rounded-md object-cover border shrink-0" />
                        ) : (
                          <div class="h-12 w-12 rounded-md bg-muted-foreground/10 flex items-center justify-center text-xs font-semibold text-muted-foreground shrink-0">{f.data.title ? f.data.title.charAt(0) : ''}</div>
                        )}
                        <div class="flex-1 min-w-0">
                          <div class="text-sm font-semibold text-foreground line-clamp-2">{f.data.title}</div>
                          <div class="text-xs text-muted-foreground">{format(new Date(f.data.pubDate), 'MMM d, yyyy')}</div>
                        </div>
                      </a>
                    </li>
                  ))
                ) : (
                  <li class="text-sm text-muted-foreground">(No featured posts)</li>
                )}
              </ul>
            </div>
        </aside>
      </div>
    </div>

    <script type="module">
      const slugify = (text) =>
        text.toLowerCase().trim().replace(/[^a-z0-9\s-]/g, '').replace(/\s+/g, '-').replace(/-+/g, '-');

      const buildToc = () => {
        const container = document.getElementById('notebook-toc');
        const content = document.querySelector('.notebook-embed');
        if (!container || !content) return;
        const nodes = Array.from(content.querySelectorAll('h1, h2, h3')); 
        container.innerHTML = "";
        if (nodes.length === 0) {
          container.innerHTML = '<li class="text-sm text-muted-foreground">(No sections)</li>';
          return;
        }
        nodes.forEach((node) => {
          let id = node.id || slugify(node.textContent || 'heading');
          if (!node.id) node.id = id;
          const li = document.createElement("li");
          if (node.tagName.toLowerCase() === 'h3') li.className = 'pl-3';
          const a = document.createElement("a");
          a.href = `#${id}`;
          a.className = 'block text-sm md:text-base rounded-lg px-3 py-2 transition-all duration-150 text-muted-foreground hover:text-foreground hover:bg-muted/5';
          a.textContent = node.textContent || id;
          li.appendChild(a);
          container.appendChild(li);
        });
      };

      const updateActiveToc = () => {
        const links = Array.from(document.querySelectorAll('#notebook-toc a')); 
        const headings = links.map((l) => document.getElementById(l.getAttribute("href").slice(1))).filter(Boolean);
        if (headings.length === 0) return;
        let active = links[0];
        for (let i = 0; i < headings.length; i++) {
          const rect = headings[i].getBoundingClientRect();
          if (rect.top < window.innerHeight / 3) active = links[i];
        }
        links.forEach((l) => l.classList.remove('bg-sidebar-primary/10', 'text-sidebar-primary', 'font-semibold')); 
        if (active) active.classList.add('bg-sidebar-primary/10', 'text-sidebar-primary', 'font-semibold');
      };

      const updateProgress = () => {
        const bar = document.getElementById('notebook-progress-bar');
        const docHeight = document.documentElement.scrollHeight - window.innerHeight;
        const scrollTop = window.scrollY;
        const pct = docHeight > 0 ? (scrollTop / docHeight) * 100 : 0;
        if (bar) bar.style.width = pct + "%";
      };

      window.addEventListener('load', () => { buildToc(); updateActiveToc(); updateProgress(); });
      window.addEventListener('scroll', () => { updateActiveToc(); updateProgress(); });
      const observer = new MutationObserver(() => buildToc());
      const embed = document.querySelector('.notebook-embed');
      if (embed) observer.observe(embed, { childList: true, subtree: true });
    </script>
  </div>
</DefaultLayout>